
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.label-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}